* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.reveal{
    position: relative;
    transform: translateY(15rem) translateX(-100px);
    opacity: 0;
    transition: all 2s ease;
}
.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}
/* .section{
    transition:  1s;
    transform: 1s;
    opacity: 1s;
} */
/* .section{
    opacity: 0;
    transform: translateY(-8rem) translateX(-100px);
    transition:  1s;
    transform: 2s;
} */
/*I WILL BE ADDING A ROOT TAG TO EASILY GET MY COLORS, THE COLORS WERE GOTTEN FROM THE STYLE GUIDE
*/
:root {
    --pink: hsl(322, 100%, 66%);
    --very-pale-cyan: hsl(193, 100%, 96%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --grayish-blue: hsl(208, 11%, 55%);
}

.Huddle-logo {
    /*width: 270px;*/
}
header {
    background-color: hsl(193, 100%, 96%);
    /*    you did not add the background image
*/
    background-image: url(./images/bg-hero-desktop.svg);
    padding-bottom: 3rem;
    margin-bottom: 8rem;
    
}
nav {
    /*margin-left: 1px;*/
    padding: 0 3rem;
    height: 6rem;
    align-items: center;
    justify-content: space-between;
    display: flex;
}
.btn1 {
    /* width: 250px;
    height: 50px;*/
    /* you can use either (width and height) to style your buttons or padding.
    when using padding, do not use px.
personally, i prefer using padding if it is a button ,then i use width if it is an input field*/
    padding: 1rem 2rem;
    background: #fff;
    border: 2px solid #fff;

    margin-top: 1.2rem;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
    /*    margin-top: 13px;
*/
    color: black;
    font-size: 15px;
    border-radius: 2rem;
    /*margin-left: 800px;*/
    font-weight: bold;
    letter-spacing: 0.1ch;
    font-size: 18px;
    /*padding: 10px;*/
}
.main-section {
    /*  margin-left: 10px;*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* justify-content: space-between;*/
    padding: 0 3rem;
    margin-top: 4rem;
    /*justify-content: space-evenly;*/
    /* margin-left: 10px;
    margin-top: 50px;*/
}
.right__wrapper {
    margin-top: 6rem;
}

.img {
    display: flex;
    width: 100%;
    /*    flex-direction: column;
    width: 750px;
    height: 500px;
    margin-right: 5px;*/
}
h1 {
    font-family: poppins;
    font-weight: 600;
    font-size: 38px;
}
/*breaking lines with css
*/
.br::before {
    content: '\A';
    white-space: pre;
}

.fp {
    color: var(--grayish-blue);
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2em;
    margin-top: 1.5rem;
    width: 80%;
}

.btn2 {
    padding: 1rem 3rem;
    border-radius: 1.5rem;
    background-color: var(--pink);
    border: none;
    margin-top: 1.4rem;
    color: #fff;
    margin-top: 1.5rem;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Open Sans';
    cursor: pointer;
    box-shadow: 2px 2px 6px 0px hsl(208deg 11% 55% / 51%);
    transition: ease 1s;
}
.btn2:hover,
.trial__btn:hover {
    background-color: hsl(322, 100%, 80%);
}

.grow,
.users {
    width: 85%;
}
.header {
    margin-bottom: 2rem;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 35px;
    color: var(--very-dark-cyan);
}
.section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2rem auto;
    border-radius: 1rem;
    padding: 4rem;
    width: 75%;
    box-shadow: 0 0 7px 0px hsl(208deg 11% 55% / 51%);
}
#section-1{ gap: 10rem;}
#section-2{
    margin-top: 6rem;
}
.p {
    color: var(--grayish-blue);
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 20px;
}
.div1,
.div2,
.div3 {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
}
#section-4 {
    position: relative;
    display: flex;
    justify-content: center;
    box-shadow: none;
    margin-top: 6rem;
}
.trial {
    padding: 3rem;
    top: -100px;
    margin-top: 4.5rem;
    background-color: white;
    border-radius: 0.5rem;
    position: absolute;
    box-shadow: 0 0 6px 0px hsla(208, 11%, 55%, 0.51);
    text-align: center;
}

.trial__p {
    color: var(--very-dark-cyan);
    font-size: 25px;
    font-weight: 600;
    font-family: 'Open Sans';
    margin-bottom: 0.9rem;
}
.trial__btn {
    border-radius: 3.5rem;
    background-color: var(--pink);
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Open Sans';
    padding: 1rem 3rem;
    margin-top: 0.6rem;
    box-shadow: 2px 2px 6px 0px hsla(208, 11%, 55%, 0.51);
    transition: ease 1s;
}

.location {
    width: 18px;
    position: absolute;
    left: 4.5%;
    margin-top: 0.8rem;
}

.btm__p {
    display: flex;
}

footer {
    background-color: var(--very-dark-cyan);
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: 400;
    padding-bottom: 4rem;
    margin-top: -4rem;
}
.wrap {
    padding: 6rem;
    padding-top: 10rem;
    display: flex;
    justify-content: space-between;
}
.nav__logo--btm {
    width: 200px;
    margin-bottom: 1rem;
    filter: brightness(0) invert(1);
}

li {
    list-style: none;
    padding: 0.5rem 0;
}

li a,
li a:visited,
li a:hover,
li a:active {
    color: white;
    text-decoration: none;
}

.ul__btm {
    margin-top: 3.5rem;
    display: flex;
    flex-direction: column;
}
.ul__row {
    flex-direction: row;
}
.copyright {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    margin-right: 1rem;
}

span {
    position: relative;
    padding: 0.5rem;
    width: 22em;
}
@media screen and (max-width: 768px) {
    body{
        width: 100%;
    }
    .Huddle-logo{
        width: 40%;
    }
    .btn1{
        padding: 0.8rem 3rem;
        background: #fff;
        border: none;
        font-size: 1rem; 
        
    }
    .btn2{
        justify-content: center;
        padding: 0.8rem 6rem;
        text-align: center;
        margin-left: 7%;
    }
    nav{
        width: 100%;
        height: 5rem;
    }
    .header{
        background-image: url(./images/bg-hero-mobile.svg);
        /* width: 100%; */
    }
     main{
        display: grid;
        grid-template-columns: 1fr;
     }
    .main-section {
        display: grid;
      grid-template-columns: 1fr;  
}
.div1,
.div2,
.div3 {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}
.grow,
.users {
    width: 55%;
}
#mockup{
    justify-content: center;
    width: 70%;
    flex-direction: column;
    margin-top: 3%;
}
.img{
        display: flex;
        width: 60%;
}
.right__wrapper{
    margin: 5rem auto;
    padding: 1rem;
}
.section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
    margin: 2rem auto;
    margin-left: 4rem;
    padding: 4rem;
    width: 70%;
}
h1 {
    font-family: poppins;
    font-weight: 600;
    font-size: 35px;
    line-height: 1.2em;
    color: var(--very-dark-cyan);
}
main p, header p{
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 18px;
}
.wrap {
    padding: 3rem;
    padding-top: 10rem;
    /* flex-direction: column;
    align-items: center; */
    justify-content: space-between;
}
.trial {
    padding: 2rem;
    top: -70px;
    background-color: white;
}

.trial__p {
    color: var(--very-dark-cyan);
    font-size: 22px;
    font-weight: 600;
    font-family: 'Open Sans';
    margin-bottom: 0.6rem;
}
.trial__btn {
    font-size: 16px;
    font-weight: 600;
    font-family: 'Open Sans';
    padding: 1rem 3rem;
    margin-top: 0.6rem;
    box-shadow: 2px 2px 6px 0px hsla(208, 11%, 55%, 0.51);
    transition: ease 1s;
}
footer{
    font-family: 'Open Sans', 'sans-serif';
    font-size: 1em;
    font-weight: 400;
    padding-bottom: 4rem;
    flex-direction: column;
    gap: 1rem;
}
.section-5{
    /* margin-right: 4.5rem; */
}
} 
@media screen and (max-width: 425px) {
    .Huddle-logo{
        width: 30%;
    }
    .btn1{
        padding: 0.6rem 2rem;
        background: #fff;
        border: none;
        font-size: 0.8rem;  
    }
    .btn2{
        justify-content: center;
        padding: 0.4rem 1rem;
        text-align: center;
        align-items: center;
        margin-left: 12%;
    }
    nav{
        width: 100%;
        height: 3rem;
    }
    .header{
        width: 100%; 
        background-image: url(./images/bg-hero-mobile.svg);
    }
     main{
        display: grid;
        grid-template-columns: 1fr;
     }
    .main-section {
        display: grid;
      grid-template-columns: 1fr;  
}
.div1,
.div2,
.div3 {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}
.grow,
.users {
    width: 55%;
}
#mockup{
    justify-content: center;
    width: 90%;
    flex-direction: column;
    margin-top: 3%;
}
.img{
        display: flex;
        width: 70%;
}
.section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin: 2rem 3rem;
    padding: 4rem 2rem 2rem 2rem;
    width: 18rem;
    justify-content: center;
}
.foot{
    justify-content: center;
    text-align: center;

}
h1 {
    font-family: poppins;
    font-weight: 600;
    font-size: 25px;
    line-height: 1em;
    color: var(--very-dark-cyan);
}
.fp {
    color: var(--grayish-blue);
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 17px;
    line-height: 1.2em;
    margin-top: 1.5rem;
    width: 100%;
    text-align: center;
}

main p, header p{
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 18px;
}
.wrap {
    padding: 3rem;
    padding-top: 10rem;
    flex-direction: column;
    padding-left: 10px;
    justify-content: space-between;
}
.trial {
    padding: 0.4rem;
    top: -50px;
    background-color: white;
}

.trial__p {
    color: var(--very-dark-cyan);
    font-size: 18px;
    font-weight: 600;
    font-family: 'Open Sans';
    margin-bottom: 0.6rem;
}
.trial__btn {
    font-size: 16px;
    font-weight: 600;
    font-family: 'Open Sans';
    padding: 0.5rem 1rem;
    margin-top: 0.6rem;
    box-shadow: 2px 2px 6px 0px hsla(208, 11%, 55%, 0.51);
    transition: ease 1s;
}
footer{
    font-family: 'Open Sans', 'sans-serif';
    font-size: 0.9rem;
    font-weight: 400;
    padding-bottom: 4rem;
    background-color: var(--very-dark-cyan);
    color: white;
    font-size: 17px;
    flex-direction: column;
    padding: 10px;
}
.ul__btm{
    /* display: grid; */
    text-align: center;
}
.ul__btm {
    /* margin-top: 3.5rem;
    flex-direction: row;
    padding: 10px; */
}
.social-icon{
    justify-content: center;
    /* width: 10rem; */
    align-items: center;
    flex-direction: column;
    size: 3rem;
}
.nav__logo--btm{
    margin-left: 2px;
    margin-top: 2px;
}
.copyright{
    margin-right: 10px;
}
.ul__row {
    margin-left: 7rem;
  align-items: center;
  
}
}   
